.venv/
__pycache__/
*.py[cod]
.pytest_cache/

data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

*.zip
*.rar
*.7z
*.pt
*.pth
*.onnx
runs/
reports/generated/*
!reports/generated/.gitkeep

